html {
	height: 100%;
}
body {
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
	color: #FFF;
}

#footer {
	text-shadow: 1px 1px 2px #000;
}

#footer a {
	color: #0FF;
}

h3,h4 {
	text-shadow: 0px 0px 8px #000;
}

@media (min-width: 979px) and (max-width: 1195px) {
	body {
		padding-top: 100px;
	}
}

@media (min-width: 1196px) {
	body {
		padding-top: 60px;
	}
}

body.index {
	padding-top: 0px;
}

.fill { 
    min-height: 100%;
    position: relative;
}

.filler:after{
    background-color: inherit;
    bottom: 0;
    content: "";
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;  
}

.navbar-inverse .nav > .name > a {
	font-size: 1.5em;
	color: #FFF;
}

#footer {
	font-size: 0.8em;
	padding-top:10px;
	clear:both;
}
.navbar-inverse .nav>li>a.active {
	color: #fff;
}

ul.item-list {
	list-style:none;
}

ul.item-list li {
	border-radius: 5px;
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

div.item-image {
	background-color: #333;
	border-radius: 5px;
	height: 50px;
	width: 50px;
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

ul.item-list li:hover {
	background-color: #ccc;
}

ul.item-list li:hover div.item-image{
	background-color: rgb(25,55,210);
}

/* Icon-based entries */

#about ul.item-list li, #contact ul.item-list li, #personal ul.item-list li {
	width: 50px;
	float: left;
	margin: 0px 10px;
}

#about ul.item-list li div.item-preview, #contact ul.item-list li div.item-preview, #personal ul.item-list li div.item-preview {
	display:none;
}

/* Full list entries */


/** Specific Entry Backgrounds */
/** ROUGH ESTIMATES on colors for now ... */

ul.item-list li:hover div#google_plus {
	background-color: rgb(210,25,25);
}

ul.item-list li:hover div#youtube  {
	background-color: rgb(160,40,40);
}

ul.item-list li:hover div#linkedin {
	background-color: rgb(100,175,210);
}

ul.item-list li:hover div#facebook {
	background-color: rgb(60,90,150);
}

ul.item-list li:hover div#github, ul.item-list li:hover div#steam {
	background-color: rgb(0,0,0);
}

ul.item-list li:hover div#twitter, ul.item-list li:hover div#skype {
	background-color: rgb(0,175,240);
}

ul.item-list li:hover div#stack_overflow {
	background-color: rgb(255,140,60);
}

ul.item-list li:hover div#blog, ul.item-list li:hover div#personal_blog {
	background-color: rgb(30,140,190);
}

ul.item-list li:hover div#reddit {
	background-color: rgb(130,170,200);
}

/** Fancy stuff for the index page */

#index-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #999;
	overflow: hidden;
	z-index: 40;
}

#center-name { 
	width: 180px;
	height: 180px;
	border-radius: 90px;
	position: absolute;
	background-color: #000;
	text-align: center;
	z-index: 50;
}

#center-name a {
	cursor: default;
	position: relative;
	line-height: 180px;
	font-size: 16px;
	color: #fff;
	text-shadow: none;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}

#center-name:hover a {
	text-decoration: none;
	text-shadow: 0px 0px 6px #00F, 0px 0px 6px #FFF, 0px 0px 4px #FFF;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}

.center-link {
	position: absolute;
	z-index: 49;
	width: 125px;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
}

.center-link a {
	color: #fff;
}

.center-link a:hover {
	text-decoration: none;
}

.link-bg {
	cursor: pointer;
	position: absolute;
	height: 1000px;
	width: 1000px;
	bottom:50%;
	right:50%;
	z-index: 45;
	background-color: #999;
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.link-bg:hover {
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}