html {
	height: 100%;
}
body {
	height: 100%;
}

@media (min-width: 1200px) {
	body {
		padding-top: 60px;
	}
}

.fill { 
    min-height: 100%;
    position: relative;
}

.filler:after{
    background-color: inherit;
    bottom: 0;
    content: "";
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;  
}

.navbar-inverse .nav > .name > a {
	font-size: 1.5em;
	color: #FFF;
}

#footer {
	font-size: 0.8em;
	padding-top:10px;
	clear:both;
}
.navbar-inverse .nav>li>a.active {
	color: #fff;
}

ul.item-list {
	list-style:none;
}

ul.item-list li {
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

div.item-image {
	background-color: #333;
	border-radius: 5px;
	height: 50px;
	width: 50px;
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

ul.item-list li:hover {
	background-color: #ccc;
}

ul.item-list li:hover div.item-image{
	background-color: rgb(25,55,210);
}

/* Icon-based entries */

#about ul.item-list li, #contact ul.item-list li, #personal ul.item-list li {
	width: 50px;
	float: left;
	margin: 0px 10px;
}

#about ul.item-list li div.item-preview, #contact ul.item-list li div.item-preview, #personal ul.item-list li div.item-preview {
	display:none;
}

/* Full list entries */


/** Specific Entry Backgrounds */
/** ROUGH ESTIMATES on colors for now ... */

ul.item-list li:hover div#google_plus, ul.item-list li:hover div#youtube {
	background-color: rgb(210,25,25);
}

ul.item-list li:hover div#linkedin {
	background-color: rgb(20,100,185);
}

ul.item-list li:hover div#facebook {
	background-color: rgb(30,45,125);
}

ul.item-list li:hover div#github, ul.item-list li:hover div#steam {
	background-color: rgb(0,0,0);
}

ul.item-list li:hover div#twitter, ul.item-list li:hover div#skype {
	background-color: rgb(40,185,185);
}

ul.item-list li:hover div#stack_overflow {
	background-color: rgb(215,100,50);
}

ul.item-list li:hover div#blog, ul.item-list li:hover div#personal_blog {
	background-color: rgb(30,140,190);
}

ul.item-list li:hover div#reddit {
	background-color: rgb(130,170,200);
}

ul.item-list li:hover div#aim {
	background-color: rgb(240,220,70);
}