html, body {
	font-family: 'Roboto Condensed',Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0 auto;
	background: #FFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1,h2 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 3em;
	text-shadow: 0px 0px 5px #000;
	color: #FFF;
}

h2 {
	font-size: 1em;
}

a, a:hover, a:visited {
	color: #66CCFF;
	text-decoration: none;
}

hr {
	width: 85%;
}

.content {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background: #EEE;
	box-shadow: 0px 1px 1px 1px #000;
	text-align: center;
}

.picture {
	display: block;
	height: 100%;
	z-index: 40;
	background-image: url(img/profile-cat.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(255,255,255);
}

.text {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 60%;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 0.9em;
	text-shadow: 0px 0px 2px #000;
	color: #FFF;
}

.link-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
	z-index: 40;
}

.link {
	position: absolute;
	z-index: 50;
}

.link.github {
	bottom: 20%;
	right: 5%;
}
.link.linkedin {
	bottom: 20%;
	left: 5%;
}
.link.email {
	bottom: 5%;
	left: 35%;
}
.link.google {
	bottom: 5%;
	right: 35%;
}

.icon { 
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

.github .icon {
	background: url(img/github.png) rgb(0,0,0);
}
.linkedin .icon {
	background: url(img/linkedin.png) rgb(100,175,210);
}
.email .icon {
	background: url(img/email.png) rgb(30,140,190);
}
.google .icon {
	background: url(img/gplus.png) rgb(210,25,25);
}

.label {
	color: #FFF;
}

.bg {
	position: absolute;
	height: 2000px;
	width: 2000px;
	bottom:25%;
	right:50%;
	z-index: 45;
	display: block;
	background-color: #aaa;
	transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
	opacity: 0.5;
}

.bg:hover {
	opacity: 1.0;
}

.bg.github {
	transform: rotate(160deg) skew(45deg);
	-webkit-transform: rotate(160deg) skew(45deg);
	-ms-transform: rotate(160deg) skew(45deg);
	background: rgb(0,0,0);
}
.bg.google {
	transform: rotate(205deg) skew(25deg);
	-webkit-transform: rotate(205deg) skew(25deg);
	-ms-transform: rotate(205deg) skew(25deg);
	background: rgb(210,25,25)
}
.bg.email {
	transform: rotate(270deg) skew(25deg);
	-webkit-transform: rotate(270deg) skew(25deg);
	-ms-transform: rotate(270deg) skew(25deg);
	background: rgb(30,140,190);
}
.bg.linkedin {
	transform: rotate(335deg) skew(45deg);
	-webkit-transform: rotate(335deg) skew(45deg);
	-ms-transform: rotate(335deg) skew(45deg);
	background: rgb(100,175,210);
}

.link:hover + .bg {
	opacity: 1.0;
}

.details {
	position: absolute;
	bottom: 0%;
	left: 0%;
	height: 0%;
	width: 100%;
	text-align: center;
	overflow: hidden;
    -webkit-transition: 250ms linear;
    -moz-transition: 250ms linear;
    -o-transition: 250ms linear;
    -ms-transition: 250ms linear;
    transition: 250ms linear;
	color: #FFF;
	padding-right:20px;
	background: rgba(0,0,0,.7);
}

#toggle { 
	display: none;
}

#toggle:checked ~ .text,
#toggle:checked ~ .bg,
#toggle:checked ~ .link {
	opacity: 0;
	z-index: 0;
}

#toggle:checked ~ .details {
	z-index: 100;
	height: 40%;
	overflow-y: auto;
}

.details h3,p {
	margin: 0.25em;
}

.details p.note {
	font-size: 0.75em;
}